* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: 'Coming Soon', cursive;
  background-image: url(../img/bricks.jpg);
  background-attachment: local;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Russo One", sans-serif;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.8rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.4;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.header {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
}

@media only screen and(max-width: 500px) {
  .Mixed-Family {
    display: none;
  }

  h2 {
    margin-top: 43%;
  }

  .experiences {
    display: none;
  }

  h5 {
    margin-top: 37%;
  }
  header {
    nav {
      display: flex;
      flex-direction: column;
    }
  }
}